<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>

<h1 class="mt-4">Create category</h1>
<hr>
<form action="/admin/categories/new" method="POST">
    <div class="card">
        <div class="card-body">
            <label for="category">Category name:</label>
            <input type="text" name="category" id="name" placeholder="Category name" class="form-control" required> <br>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-success mt-4">Create category</button>
</form>
<br>
<a class="btn btn-outline-secondary mt-2" href="/admin/categories/all">Back</a>

<%- include("../../partials/footer.ejs") %>