<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/home">Nathan's Blog</a>

    <ul class="navbar-nav ml-5 mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/panel">Administrative Panel</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Link #2</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Link #3</a>
        </li>
    </ul>
</nav>
<div class="container">