<%- include("../partials/header.ejs") %>
<%- include("../partials/navbar.ejs") %>

<h1 style="text-align: center; font-size: 60px;" class="mt-4">Error 404</h1>
<div class="card">
    <div class="card-body">
        <div id="final">
            <h2 class="mt-4 mb-4" style="text-align: center; font-size: 25px; color: rgb(180, 180, 180); font-weight: 400;">Page not found.</h2>
            <img src="/img/icons/alert-triangle.svg" alt="Error 404 Icon" class="ml-auto mr-auto mt-4 mb-4" style="display: block;">
            <a href="/home" class="mt-4 mb-4" style="text-align: center; display: block; margin-left: 0; margin-right: 0;">Back to Home</a>
        </div>
        
    </div>
</div>

<%- include("../partials/footer.ejs") %>